<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title th:text="#{welcome}"></title>
<style type="text/css">
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    border-width: 1px;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}  
/* .even{  
    background:#C00;  
    }  
.add{  
    background:#09F;  
    }  */
tr:nth-child(odd){
	background:RGB(236, 236, 236); 
}
</style>
</head>
<body>

<!-- <script src="js/jquery-3.3.1.js"></script>
<script type="text/javascript">

$(function() {
    $("tr:odd").addClass("odd");
    $("tr:even").addClass("even");
});

</script> -->
<div align="right">
		<a th:href="@{/changelanguage?lang=zh-CN}">中文</a> 
		<a th:href="@{/changelanguage?lang=en-US}">English</a>
		&nbsp;&nbsp;&nbsp; <span>PC端</span>
	</div>
<div align="center" >
<h1 th:text="#{viewuser}"></h1>
		<table class="gridtable">
			<thead>
				<tr>
					<th th:text="#{id}"></th>
					<th th:text="#{name}"></th>
					<th th:text="#{age}"></th>
					<th th:text="#{sex}"></th>
					<th th:text="#{tel}"></th>
					<th th:text="#{button}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user,userlist:${userlist}">
					<td th:text="${user.id}" />
					<td th:text="${user.name}" />
					<td th:text="${user.age}" />
					<td th:text="${user.sex}" />
					<td th:text="${user.phoneNumber}" />
					<td><a th:href="@{'/updateuser?id='+${user.id}}">
					<span th:text="#{updateuser}" /></a> 
					<a th:href="@{'/deleteuser?id='+${user.id}}">
					<span th:text="#{deleteuser}" /></a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/adduser}"><span th:text="#{adduser}"/></a>
</div>
</body>
</html>